<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Product </title>
</head>
<body>

<!--/*@thymesVar id="product" type=""*/-->
<form method="post" th:action="@{/Home}" th:object="${product}">
    <div>
        <p> Name : <span th:text="${product.Name}"></span></p><br/>
        <p> NumOfViews : <span th:text="${product.NumOfViews}"></span></p><br/>
        <p> Num Of Buy : <span th:text="${product.numOfBuy}"></span></p><br/>
        <br/>
        <a href="/LogOut"> LogOut</a>
        <br/>
    </div>
</form>

</body>
</html>